html, body, div, span, applet, object, iframe, h1,
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    font-size: 100%;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    cursor: none;
}

*,*:hover { cursor: none; }

$green: #878C67;
$white: #fafffa;
$black: #1f201f;

@font-face {
    font-family: 'archivo';
    src: url(../Fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: 'akz-cond';
    src: url(../Fonts/BertholdAkzidenzGroteskMediumCondensed.otf);
}

@font-face {
    font-family: 'akz';
    src: url(../Fonts/akzidenz.otf);
}

.header { font-family: 'archivo', helvetica, sans-serif; text-transform: uppercase; }
.subheader { font-family: 'akz-cond', helvetica, arial, sans-serif; }
.paragraph { font-family: 'akz', helvetica, arial, sans-serif; }

@mixin appearance($prop){
    -webkit-appearance: $prop;
    -moz-appearance: $prop;
    -ms-appearance: $prop;
    -o-appearance: $prop;
    appearance: $prop;
}

@mixin transform($prop){
    -webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop;
    -o-transform: $prop;
    transform: $prop;
}

@mixin typesize($s){ font-size: $s * 18px; }

.input { border: none; outline: none; }
.input:focus { outline: none; }

.textstroke {
    font-weight: 900;
    color: $black;
    -webkit-text-fill-color: rgba($white,0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $black;
}

.textstroke-polyfill {
    font-weight: 900;
    color: $white;
    text-shadow: -1px -1px 0 $black,
                  1px -1px 0 $black,
                 -1px 1px 0 $black,
                  1px 1px 0 $black;
}

.centerX { position: absolute; left: 50%; transform: translateX(-50%); }
.centerY { position: absolute; top: 50%; transform: translateY(-50%); }
.centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body {
    @extend .paragraph;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    background: $white;
    padding: 90px 60px 0 60px;
}

h1,h2 { @extend .header; }

h3,h4,h5,h6 { @extend .subheader; }

h1 { @include typesize(2.25); }
h2 { @include typesize(2); }
h3 { @include typesize(1.75); }
h4 { @include typesize(1.5); }
h5 { @include typesize(1.25); }
h6 { @include typesize(1); }

a { color: inherit; text-decoration: none; }

button {
    @include appearance(none);
    color: $white;
    border-radius: 50%;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    
    #logo {
        @extend .textstroke;
        @include typesize(2.25);
        @extend .header;
        position: fixed;
        z-index: 3;
        margin: 30px 0 0 30px;
        transition: all .3s;
    }
    #nav-outer {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid rgba($black,0.1);
    }
    #nav-button-outer {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    button {
        @extend .input;
        background: $green;
        color: $white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        position: fixed;
        top: 50px;
        left: calc(100vw - 50px);
        z-index: 2;
        transform: translateX(-50%) translateY(-50%);
        
        span {
            @extend .centerX;
            background: $white;
            width: 4px;
            height: 4px;
            display: block;
            border-radius: 50%;
            top: 16px;
            
            &:first-child { top: 10px; }
            &:last-child { top: 22px; }
        }
    }
    #menu {
        visibility: hidden;
        opacity: 0;
        color: $white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($green,0.9);
        z-index: 1;
        
        .nav-main {
            width: 70%;
            height: 100%;
            padding: 12% 0 12% 15%;
            float: left;
            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            justify-content: space-around;
            
            h2 {
                width: 50%;
                max-width: 400px;
            }
            & > div {
                @extend .paragraph;
                width: 70%;
                padding-left: 8%;
                max-width: 500px;
                
                p { line-height: 150%; padding-bottom: 18px; }
                a { display: inline-block; }
            }
        }
        ul {
            list-style-type: none;
            &.page-list {
                @extend .subheader;
                @include typesize(1.25);
                text-transform: uppercase;
                width: 30%;
                float: left;
                height: 90vh;
                padding-top: 10vh;
                display: flex;
                flex: 1 1 100%;
                flex-direction: column;
                justify-content: space-around;

                a {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -15px;
                        width: 0%;
                        height: 4px;
                        background: $white;
                        transition: width 1s;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                            transition: width 0.5s;
                        }
                    }
                }
            }
        }
    }
}
body.nav-opened {
    #nav {
        #logo {
            color: rgba($white,0.75);
            -webkit-text-stroke-color: rgba($white,0.75);
        }
        #nav-outer {
            border-color: rgba($white,0.35);
        }
        button {
            background: $white;
            span {
                background: $green;
            }
        }
    }
}
.home {
    h1 {
        /*@extend .textstroke;*/
        @extend .textstroke-polyfill;
        @extend .centerY;
        font-size: 5.75vw;
        position: fixed;
        -webkit-text-stroke-width: 0.01px;
        -webkit-text-stroke-color: rgba($black,0.8);
        
        /*strong { -webkit-text-fill-color: rgba($black,0.25); }*/
    }
    .home-loading {
        position: fixed;
        z-index: 0;
        top: 75%;
        width: 66.666%;
        color: rgba($black,0.5);
    }
    section {
        float: left;
        position: relative;
        height: 80vh;
        width: 33.333vw;
        min-width: 200px;
        margin-right: 45px;

        h2 {
            position: absolute;
            left: 0;
            top: 20%;
            z-index: 1;
            width: 75%;
        }
        span {
            @extend .textstroke;
            @extend .centerY;
            @extend .header;
            @include typesize(1.25);
            text-transform: uppercase;
            top: 80%;
        }
        .home-bg {            
            position: absolute;
            left: 15%;
            top: 0;
            height: 100%;
            width: 80%;
            z-index: 0;
            opacity: 0.5;
            mix-blend-mode: multiply;
            
            .home-bg-overlay {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: $black;
            }
            .home-bg-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                mix-blend-mode: screen;
                filter: grayscale(1);
                overflow: hidden;
                
                .home-bg-image-inner {
                    position: absolute;
                    background-size: cover;
                    background-position: 50%;
                    top: 0;
                    left: 0;
                    width: 200%;
                    height: 100%;
                }
            }
        }
    }
}
article {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0 -60px;
    
    h2 {
        /*@extend .textstroke;*/
        /*-webkit-text-stroke-color: rgba($black,0.75);*/
        /*white-space: nowrap;*/
        /*mix-blend-mode: screen;*/
        opacity: 0.12;
        font-size: 30vw;
        line-height: 22vw;
        word-spacing: 999px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: cover;
        background-attachment: fixed;
        background-position: 0px 50%;
        -webkit-filter: grayscale(0.2);
        -moz-filter: grayscale(0.2);
        -ms-filter: grayscale(0.2);
        -o-filter: grayscale(0.2);
        filter: grayscale(0.2);
        overflow: hidden;
    }
    .upnext {
        position: relative;
        width: 100vw;
        height: 100vh;
        /*height: calc(90vh - 90px);*/
        
        h2 {
            @extend .centerY;
            color: $black;
            -webkit-text-fill-color: $black;
        }
        p {
            @extend .centerXY;
        }
    }
    
    header {
        min-height: 100vh;
        padding-top: 10vh;
        
        .meta-title {
            @extend .header;
            @extend .centerXY;
            @include typesize(3);
            transform: translateX(0%) translateY(0%);
            text-transform: uppercase;
            max-width: 50%;
            overflow: hidden;
        }
        .meta {
            @extend .subheader;
            @extend .centerY;
            @include transform(rotate(-90deg));
            transform-origin: top left;
            top: 100%;
            display: block;
            text-align: left;
            width: 100vh;
            padding: 30px;
            opacity: 0.55;
            
            div {
                display: inline-block;
                width: 49%;
                
                span {
                    display: inline-block;
                    @extend .paragraph;
                    
                    &:first-child {
                        @extend .subheader;
                        @include typesize(1.15);
                        padding-bottom: 8px;
                        margin-bottom: 8px;
                        border-bottom: 2px solid $black;
                    }
                }
            }
        }
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 60px;
        
        div {
            width: 50%;
            float: left;
            
            span {
                @extend .subheader;
                border: 4px solid $black;
                display: block;
                width: 80px;
                height: 80px;
                text-align: center;
                padding: 5px;
                @include typesize(3.5);
                margin: 0 auto;
                position: relative;
                
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $black;
                    position: absolute;
                    top: 0;
                    left: 150%;
                }
            }
            
            a {
                @extend .header;
                color: $white;
                padding: 12px 36px;
                display: inline-block;
                text-align: center;
                margin-top: 30px;
            }
            
            p {
                @extend .paragraph;
                line-height: 150%;
                
                &:first-line {
                    font-weight: bold;
                }
            }
        }
        
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

#cursor-outer {
    #cursor {
        width: 30px;
        height: 30px;
        border: 2px solid $black;
        border-radius: 50%;
        position: fixed;
        z-index: 999999;
        pointer-events: none;
        @extend .centerXY;
        transition: all .1s;
        
        &.nav-hovered {
            border-width: 0px;
            border-color: $green;
        }
    }
    
    #coordinates {
        position: fixed;
        bottom: 0;
        right: 0;
        color: rgba($black,0.25);
        
        span {
            display: block;
            position: absolute;
            
            &#x { bottom: 0px; right: 30px; }
            &#y { bottom: 60px; right: 0px;
                @include transform( rotate(-90deg) );
                transform-origin: bottom right;
            }
        }
    }
}

@media( max-width: 800px ){

    article {
        .container {
            padding: 15px;
            div {
                &:first-child {
                    width: 35%;
                    span {
                        &:after {
                            display: none;
                        }
                    }
                }
                width: 65%;
            }
        }
    }
    
}

@media only screen and ( max-device-width: 800px ){
    #cursor { display: none; }
}